# SIMPL Windows and VTPro-e
*.ASV

# SIMPL Windows
SPlsWork/
*CrosspointList.txt
*.lpz
*.spz
*.sm2
*.um2

# VTPro-e
*.vtz
*.iPad/
*.Upx/
*.xexe/
*.xweb/

# D3Pro
Status$
AUTOSAVE/
*_Config.smw
*.ldb
*.mdb
